<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/static/oohdir/xsl/pretty-feed-v3a.xsl"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/"><channel><title>Web development: Recently added blogs and sub-categories at ooh.directory</title><link>https://ooh.directory/blogs/technology/development/web/</link><description>The blogs and sub-categories added to the Web development category at ooh.directory most recently</description><atom:link href="https://ooh.directory/feeds/cats/b8qzw8/rss/web.xml" rel="self"></atom:link><language>en</language><lastBuildDate>Thu, 10 Aug 2023 10:59:07 +0000</lastBuildDate><image><url>https://ooh.directory/media/categories/b8qzw8/icon_square.png</url><title>Web development: Recently added blogs and sub-categories at ooh.directory</title><link>https://ooh.directory/blogs/technology/development/web/</link></image><item><title>Phil Nash | Blog</title><link>https://philna.sh/blog</link><description>


“A developer, speaker, blogger, developer advocate, sausage dog owner and beer lover.”


🇦🇺 Started in 2016.
  
  
    
      Average 950 words.


</description><pubDate>Fri, 14 Jul 2023 14:37:25 +0000</pubDate><guid>https://philna.sh/blog</guid><content:encoded><![CDATA[

  <p>
“A developer, speaker, blogger, developer advocate, sausage dog owner and beer lover.”
</p>
  <p>
🇦🇺 Started in 2016.
  
  
    
      Average 950 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Robb Owen - My writing</title><link>https://robbowen.digital/writing</link><description>


“My collected writing on topics ranging from coding and the web industry, to linguistics and natural language processing.”


🇬🇧 Started in 2019.
  
  
    
      Average 1,393 words.


</description><pubDate>Tue, 21 Mar 2023 11:52:42 +0000</pubDate><guid>https://robbowen.digital/writing</guid><content:encoded><![CDATA[

  <p>
“My collected writing on topics ranging from coding and the web industry, to linguistics and natural language processing.”
</p>
  <p>
🇬🇧 Started in 2019.
  
  
    
      Average 1,393 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Rach Smith's digital garden</title><link>https://rachsmith.com/</link><description>


“A developer building software for CodePen, wife, mother of two,  productivity nerd and recovering screen addict.”


🇦🇺 Started in 2017.
  
  
    
      Average 574 words.


</description><pubDate>Tue, 21 Mar 2023 11:44:31 +0000</pubDate><guid>https://rachsmith.com/</guid><content:encoded><![CDATA[

  <p>
“A developer building software for CodePen, wife, mother of two,  productivity nerd and recovering screen addict.”
</p>
  <p>
🇦🇺 Started in 2017.
  
  
    
      Average 574 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Amit Merchant</title><link>https://www.amitmerchant.com/</link><description>


“A blog on PHP, JavaScript, and more.”


🇮🇳 Started in 2016.
  
  
    
      Average 320 words.


</description><pubDate>Mon, 13 Feb 2023 16:58:24 +0000</pubDate><guid>https://www.amitmerchant.com/</guid><content:encoded><![CDATA[

  <p>
“A blog on PHP, JavaScript, and more.”
</p>
  <p>
🇮🇳 Started in 2016.
  
  
    
      Average 320 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>37signals Dev</title><link>https://dev.37signals.com</link><description>


“The 37signals Dev blog is brought to you by the people who build Basecamp and HEY ✌️❤️.”


🇺🇸 Started in 2022.
  
  
    
      Average 1,335 words.


</description><pubDate>Sat, 04 Feb 2023 17:03:35 +0000</pubDate><guid>https://dev.37signals.com</guid><content:encoded><![CDATA[

  <p>
“The 37signals Dev blog is brought to you by the people who build Basecamp and HEY ✌️❤️.”
</p>
  <p>
🇺🇸 Started in 2022.
  
  
    
      Average 1,335 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Jordan Webb's blog</title><link>https://jordemort.dev/blog/</link><description>


“Development notes and technical musings.”


🇺🇸 Started in 2022.
  
  
    
      Average 1,420 words.


</description><pubDate>Sat, 04 Feb 2023 15:08:26 +0000</pubDate><guid>https://jordemort.dev/blog/</guid><content:encoded><![CDATA[

  <p>
“Development notes and technical musings.”
</p>
  <p>
🇺🇸 Started in 2022.
  
  
    
      Average 1,420 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Lloyd Atkinson - Articles</title><link>https://www.lloydatkinson.net/articles/</link><description>





🇬🇧 Started in 2021.
  
  
    
      Average 34 words.


</description><pubDate>Fri, 27 Jan 2023 15:43:11 +0000</pubDate><guid>https://www.lloydatkinson.net/articles/</guid><content:encoded><![CDATA[

  <p>

</p>
  <p>
🇬🇧 Started in 2021.
  
  
    
      Average 34 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>JakeArchibald.com - Blog</title><link>https://jakearchibald.com/</link><description>


By Jake Archibald.


🇬🇧 Started in 2013.
  
  
    
      Average 1,597 words.


</description><pubDate>Wed, 25 Jan 2023 17:05:23 +0000</pubDate><guid>https://jakearchibald.com/</guid><content:encoded><![CDATA[

  <p>
By Jake Archibald.
</p>
  <p>
🇬🇧 Started in 2013.
  
  
    
      Average 1,597 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Sebastien Castiel · Developer, writer, indie hacker · 📍 Montreal, QC</title><link>https://scastiel.dev</link><description>


“I’m an experienced developer who builds stuff and occasionally writes blog posts and books.”


🇨🇦 Started in 2015.
  
  
    
      Average 61 words.


</description><pubDate>Thu, 05 Jan 2023 14:57:12 +0000</pubDate><guid>https://scastiel.dev</guid><content:encoded><![CDATA[

  <p>
“I’m an experienced developer who builds stuff and occasionally writes blog posts and books.”
</p>
  <p>
🇨🇦 Started in 2015.
  
  
    
      Average 61 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Alejandro AR (kinduff) | Blog</title><link>https://kinduff.com/blog</link><description>


“Alejandro AR (kinduff) website with blog posts, projects, videos, and more.”


 Started in 2007.
  
  
    
      Average 466 words.


</description><pubDate>Thu, 15 Dec 2022 17:09:09 +0000</pubDate><guid>https://kinduff.com/blog</guid><content:encoded><![CDATA[

  <p>
“Alejandro AR (kinduff) website with blog posts, projects, videos, and more.”
</p>
  <p>
 Started in 2007.
  
  
    
      Average 466 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Clint McMahon</title><link>https://clintmcmahon.com/blog/</link><description>


“Freelance web &amp;amp; mobile app developer in Minneapolis, Minnesota. I build websites, mobile apps and consult on technology strategies.”


🇺🇸 Started in 2020.
  
  
    
      Average 566 words.


</description><pubDate>Thu, 15 Dec 2022 17:06:34 +0000</pubDate><guid>https://clintmcmahon.com/blog/</guid><content:encoded><![CDATA[

  <p>
“Freelance web &amp; mobile app developer in Minneapolis, Minnesota. I build websites, mobile apps and consult on technology strategies.”
</p>
  <p>
🇺🇸 Started in 2020.
  
  
    
      Average 566 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Swizec Teller</title><link>https://swizec.com/blog/</link><description>


“Swizec shares software engineering lessons from production in his books, articles, talks, and workshops.”


🇺🇸 Started in 2006.
  
  
    
      Average 28 words.


</description><pubDate>Fri, 09 Dec 2022 16:05:29 +0000</pubDate><guid>https://swizec.com/blog/</guid><content:encoded><![CDATA[

  <p>
“Swizec shares software engineering lessons from production in his books, articles, talks, and workshops.”
</p>
  <p>
🇺🇸 Started in 2006.
  
  
    
      Average 28 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>2ality – JavaScript and more</title><link>https://2ality.com/</link><description>


By Axel Rauschmayer.


🇩🇪 Started in 2005.
  
  
    
      Average 32 words.


</description><pubDate>Tue, 06 Dec 2022 11:47:27 +0000</pubDate><guid>https://2ality.com/</guid><content:encoded><![CDATA[

  <p>
By Axel Rauschmayer.
</p>
  <p>
🇩🇪 Started in 2005.
  
  
    
      Average 32 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Lambros Petrou | Home</title><link>https://www.lambrospetrou.com/</link><description>


“My personal blog where I publish my thoughts.”


 Started in 2011.
  
  
    
      Average 1,679 words.


</description><pubDate>Mon, 05 Dec 2022 11:46:22 +0000</pubDate><guid>https://www.lambrospetrou.com/</guid><content:encoded><![CDATA[

  <p>
“My personal blog where I publish my thoughts.”
</p>
  <p>
 Started in 2011.
  
  
    
      Average 1,679 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Coding with Jesse</title><link>https://www.codingwithjesse.com</link><description>


“Web development blog about Svelte, JavaScript, HTML and CSS.”
  
  
    By Jesse Skinner.


🇨🇦 Started in 2005.
  
  
    
      Average 1,305 words.


</description><pubDate>Wed, 30 Nov 2022 18:02:24 +0000</pubDate><guid>https://www.codingwithjesse.com</guid><content:encoded><![CDATA[

  <p>
“Web development blog about Svelte, JavaScript, HTML and CSS.”
  
  
    By Jesse Skinner.
</p>
  <p>
🇨🇦 Started in 2005.
  
  
    
      Average 1,305 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Seldo.com</title><link>https://seldo.com</link><description>


“Personal site and blog of Laurie Voss, aka @seldo.”


🇺🇸 Started in 2001.
  
  
    
      Average 2,088 words.


</description><pubDate>Sat, 26 Nov 2022 10:41:17 +0000</pubDate><guid>https://seldo.com</guid><content:encoded><![CDATA[

  <p>
“Personal site and blog of Laurie Voss, aka @seldo.”
</p>
  <p>
🇺🇸 Started in 2001.
  
  
    
      Average 2,088 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Localghost - Blog</title><link>https://localghost.dev/blog</link><description>


“Sophie builds fun things out of HTML, CSS &amp;amp; JavaScript, and writes blog posts about tech and mental health.”
  
  
    By Sophie Koonin.


🇬🇧 Started in 2018.
  
  
    
      Average 1,252 words.


</description><pubDate>Thu, 24 Nov 2022 16:58:51 +0000</pubDate><guid>https://localghost.dev/blog</guid><content:encoded><![CDATA[

  <p>
“Sophie builds fun things out of HTML, CSS &amp; JavaScript, and writes blog posts about tech and mental health.”
  
  
    By Sophie Koonin.
</p>
  <p>
🇬🇧 Started in 2018.
  
  
    
      Average 1,252 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>Kurt McKee</title><link>https://kurtmckee.org/</link><description>


“lessons learned in production.”


 Started in 2004.
  
  
    
      Average 215 words.


</description><pubDate>Wed, 23 Nov 2022 12:10:03 +0000</pubDate><guid>https://kurtmckee.org/</guid><content:encoded><![CDATA[

  <p>
“lessons learned in production.”
</p>
  <p>
 Started in 2004.
  
  
    
      Average 215 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/python/">Python</a>
              
            
          </li>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>The Content Technologist</title><link>https://www.content-technologist.com/</link><description>


“Building better content operations. Understanding how algorithms process content. Weekly newsletter &amp;amp; resource by award-winning strategist Deborah Carver.”


🇺🇸 Average 1,497 words.


</description><pubDate>Wed, 23 Nov 2022 11:48:48 +0000</pubDate><guid>https://www.content-technologist.com/</guid><content:encoded><![CDATA[

  <p>
“Building better content operations. Understanding how algorithms process content. Weekly newsletter &amp; resource by award-winning strategist Deborah Carver.”
</p>
  <p>
🇺🇸 Average 1,497 words.
</p>

  
    
      <ul>
        
          <li>
            
              
            
              
                <a href="https://ooh.directory/blogs/technology/">Computers, internet, tech</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/">Development</a> /
              
            
              
                <a href="https://ooh.directory/blogs/technology/development/web/">Web development</a>
              
            
          </li>
        
      </ul>
    
  

]]></content:encoded></item><item><title>🎉 New sub-category: Back-end web development</title><link>https://ooh.directory/blogs/technology/development/web/back-end/</link><description>

This sub-category was added within Web development.

</description><pubDate>Tue, 22 Nov 2022 17:34:44 +0000</pubDate><guid>https://ooh.directory/blogs/technology/development/web/back-end/</guid><content:encoded><![CDATA[

  <p>

This sub-category was added within Web development.

</p>

]]></content:encoded></item></channel></rss>